body{
  background-color:#bedbed
}

.british {
  width: 20px;
  float: right;
}

.box {
  width: 15em;
  border: 1px solid #333333;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, white, #dddddd 40%, #cccccc);
}

